.card-container {
  width: 150px;
  height: 210px;
  background: linear-gradient(135deg, #03b8ff, #410077);
  border: 8px solid #dce474;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 10px;
  cursor: grab;
}

.card-container-ready-to-attack {
  width: 150px;
  height: 210px;
  background: linear-gradient(135deg, #03b8ff, #410077);
  border: 8px solid #dce474;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 10px;
  cursor: grab;

  /* Glow */
  box-shadow:
    0 0 1px 1px #f5d9d9,  /* inner white */
    0 0 3px 3px rgb(174, 0, 255), /* middle magenta */
    0 0 6px 6px rgb(0, 217, 255); /* outer cyan */
}

.card-container:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;  /* Distribute space between name and mana cost */
  align-items: center;  /* Center vertically */
  padding-bottom: 5px;
}

.mana-cost {
  background: #dce474;
  color: black;
  font-weight: bold;
  border-radius: 40%;
  padding: 5px 10px;
}

.card-body {
  flex-grow: 1;
}

.card-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-attack,
.card-health {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
}

.card-image {
  max-width: 95%;
  min-width: 95%;
  border: 5px solid #dce474;
  border-radius: 5%;
}
