.enemy-cards, .board-cards, .player-hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .card-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
  }
  
  .enemy-cards.fixed {
    position: fixed;
    top: 100px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .card-list > div {
    margin: 0 10px;
  }